# Django Settings
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True

USE_POSTGRESQL=False

# Web app URL used in invitation and CTA emails
FRONTEND_URL=http://localhost:5173
FRONTEND_STAFF_REGISTRATION_PATH=/staff/register
FRONTEND_RIDER_REGISTRATION_PATH=/rider/register
